<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/index.css}">
<title>Products</title>
</head>

<body>
	<div class="container">
		<div th:insert="fragments/nav"></div>
		<h1>Welcome</h1>
		<div class="row">
			<div th:each="product,i: ${products}">
				<div class="col-sm">
					<div class="card">
						<img class=" card-img-top productImg"
							th:src="|data:image/png;base64,${product.coverToBaseSixtyFour()}">
						<div class="card-body">
							<h3 class="card-text" th:text="${product.name}"></h3>
							<p class="card-text" th:text="${product.description}"></p>

							<p class="card-text" th:text="'£'+${product.price}"></p>
							<form sec:authorize="isAuthenticated()" method="post"
								th:action="@{/basket/add}" th:object="${basketForm}">
								<input type="text" th:field="*{quantity}"> <input
									type="hidden" id="productId" name="productId"
									th:value="${products[__${i.index}__].productId}">
								<button>Add To Basket</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>